@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Next"
    
    
}

h1 {
    font-family: "Caveat", cursive;
}

.titulo-carrousel {
    font-family: "Caveat", cursive;
    font-size: 1.3rem;
}